<div class="fixed-bottom">
    <button routerLink="" class="button-footer">
        <mat-icon> home </mat-icon>
        <span>Home</span>
    </button>
    <button routerLink="login" class="button-footer" *ngIf="!userAutenticated && !userAutenticatedAdmin">
        <mat-icon> input </mat-icon>
        <span [ngStyle]="{'font-size':font_size + 'px'}">Login</span>
    </button>
    <button (click)="logout()" class="button-footer" *ngIf="userAutenticated || userAutenticatedAdmin">
        <mat-icon> logout </mat-icon>
        <span [ngStyle]="{'font-size':font_size + 'px'}">Logout</span>
    </button>
    <button class="button-footer">
        <mat-icon> reorder </mat-icon>
        <span>More</span>
    </button>
</div>