<div class="d-flex flex-column justify-content-between div-root">
    <span class="variable-text">Filmes e programas de TV contendo...</span>
    <div class="d-flex justify-content-between div-content">
        <button class="category-carousel-button" (click)="previousCategory()">
            <mat-icon> arrow_back </mat-icon>
        </button>

        <div *ngFor="let item of categoryToBeShow,let i = index" class="categories-list">
            <span class="category-item-button d-flex justify-content-center align-items-center"
                [ngClass]="{'category-item-button-selected':i == index}" (click)="clickCategory(i)"
                (mouseenter)="mouseEnter(i)" [routerLink]="['movies-category',item.id]" [ngStyle]="{
                    'background-image': 'url(' + item.tag + ')',
                    'font-size': 1.5*font_size + 'px'
                }">{{item.name}}
            </span>
        </div>

        <button class="category-carousel-button" (click)="nextCategory()">
            <mat-icon> arrow_forward </mat-icon>
        </button>
    </div>
</div>