<nav id="header" class="navbar d-flex justify-content-between header">
    <div class="nav" style="justify-content: start;">
        <li class="nav-item" dropdown>
            <button class="btn dropdown-toggle btn-header" href="#" dropdownToggle>Movies</button>
            <div class="dropdown-menu" *dropdownMenu >
                <li ><a class="dropdown-item" href="#">Movie</a></li>
                <li ><a class="dropdown-item" href="#">Movie</a></li>
                <li ><a class="dropdown-item" href="#">Movie</a></li>
                <li ><a class="dropdown-item" href="#">Movie</a></li>
            </div>
        </li>
        <li class="nav-item" dropdown>
            <button class="btn dropdown-toggle btn-header" href="#" dropdownToggle>Category</button>
            <div class="dropdown-menu" *dropdownMenu >
                <li ><a class="dropdown-item" href="#">Category</a></li>
                <li ><a class="dropdown-item" href="#">Category</a></li>
                <li ><a class="dropdown-item" href="#">Category</a></li>
                <li ><a class="dropdown-item" href="#">Category</a></li>
            </div>
        </li>
    </div>
    <div class="nav">
        <span class="systemName" id="leadTittle">Lead</span>
        <span class="systemName" id="movieTittle">Movie</span>
    </div>
    <div class="nav">
            <div class="input-group d-flex align-items-center align-self-center ">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" />
                </div>
                <button type="button" class="btn d-flex align-items-center btn-header">
                    <mat-icon  style="color: white;" aria-hidden = "false"  aria-label = "Example home icon" > search </mat-icon >
                </button>
            </div>
    </div>
</nav>          