#header{
    width: 100%;
    background-color: #3d3d3d;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: -1px;
}

.dropdown-item{
    font-weight: 500;
    border: 1px solid white;
}

.dropdown-menu{
    border: 2px solid white;
    background-color: red;
    padding: 0;
}

.dropdown-menu a{
    color: white;
    background-color: red;
}

.dropdown-menu a:hover{
    background-color: #3d3d3d;
}

.btn-header{
    color: white !important;
}

.btn-header:active{
    color: red !important;
}

.btn-header:focus {
    outline: none !important;
    box-shadow: none;
 }

.systemName{
    color: red;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;
    outline: none;
    white-space: nowrap;
}

#leadTittle{
    transform: rotate(-4deg);
}

#movieTittle{
    transform: rotate(4deg);
}

#form1{
    color: white;
    background-color: unset;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

@media all and (max-width: 625px){
    #leadTittle{
        transform: scale(0.8);
    }
    #movieTittle{
        transform: scale(0.8);
    }
    #form1{
        width: 60%;
    }
}

.accessibility{
    padding: 1%;
    width: 100%;
    background-color: #00447c;
}

.accessibility-div{
    width: 50%;
}

.div-item-accessibility{
    margin-right: 2%;
    color: white;
}

.accessibility-button{
    height: 100%;
    background-color: unset;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
}

.accessibility-button:hover{
    background-color: white;
    color: #00447c;
}

@media all and (max-width: 400px){
    .accessibility{
        flex-wrap: wrap;
    }
}

@media all and (max-width: 620px){
    .accessibility{
        flex-wrap: wrap;
    }
    .accessibility-div{
        width: 100%;
        justify-content: space-between;
    }
    .div-item-accessibility{
        width: 100%;
        margin-right: 0%;
        justify-content: center;
    }
}

.nav {
    width: 33%;
    color: white;
}