<nav id="header" class="navbar d-flex justify-content-between">
    <div class="nav">
        <li class="nav-item dropdown" dropdown *ngIf="userAutenticated || userAutenticatedAdmin">
            <button class="btn dropdown-toggle btn-header" href="#" dropdownToggle>Movies</button>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="create-movie">Criar Filme</a>
                <a class="dropdown-item" routerLink="update-movie">Atualizar Filme</a>
                <a *ngIf="userAutenticatedAdmin" class="dropdown-item" routerLink="delete-movie">Deletar Filme</a>
            </div>
        </li>
        <li class="nav-item dropdown" dropdown *ngIf="userAutenticated || userAutenticatedAdmin">
            <button class="btn dropdown-toggle btn-header" href="#" dropdownToggle>Category</button>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="create-category">Criar Categoria</a>
                <a class="dropdown-item" routerLink="update-category">Atualizar Categoria</a>
                <a *ngIf="userAutenticatedAdmin" class="dropdown-item" routerLink="delete-category">Deletar
                    Categoria</a>
            </div>
        </li>
        <li class="nav-item dropdown" dropdown *ngIf="userAutenticatedAdmin">
            <button class="btn dropdown-toggle btn-header" href="#" dropdownToggle>Users</button>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" href="#">Criar Usuário</a>
                <a class="dropdown-item" href="#">Atualizar Usuário</a>
                <a *ngIf="userAutenticatedAdmin" class="dropdown-item" href="#">Deletar Usuário</a>
            </div>
        </li>
    </div>
    <div class="nav d-flex justify-content-center">
        <span class="systemName" id="leadTittle">Lead</span>
        <span class="systemName" id="movieTittle">Movie</span>
    </div>
    <div class="nav">
        <div class="input-group d-flex justify-content-end">
            <input type="search" id="form1" placeholder="Search" />
            <button type="button" class="btn d-flex align-items-center btn-header" type="submit">
                <mat-icon> search </mat-icon>
            </button>
        </div>
    </div>
</nav>