<div class="div-root">
  <div class="form-group drop-category">
    <label for="inputState">SELECT MOVIE TO UPDATE</label>
    <select id="inputState" class="form-control" (change)="movieUpdateSelected(($event))">
      <option [selected]="index === -1" [value]="-1">SELECIONE UM FILME</option>
      <option [selected]="index === i" *ngFor="let item of movieAll, let i = index" [value]="i">
        {{item.tittle}}
      </option>
    </select>
  </div>
  <div *ngIf="index != -1" class="d-flex justify-content-center">
    <form class="needs-validation">
      <div class="form-group">
        <label>Tittle Movie</label>
        <input [(ngModel)]="moviePut.tittle" name="tittle" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Synopsis Movie</label>
        <input [(ngModel)]="moviePut.synopsis" name="synopsis" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Image Movie</label>
        <input [(ngModel)]="moviePut.image" name="image" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Duration Movie</label>
        <input [(ngModel)]="moviePut.duration" name="duration" type="number" class="form-control" required>
      </div>
      <div class="form-group">
        <label>LaunchData Movie</label>
        <input [(ngModel)]="moviePut.launchData" name="launchData" type="date" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Select Language Movie</label>
        <select [(ngModel)]="moviePut.languageID" name="languageID" id="inputState" class="form-control">
          <option *ngFor="let item of languageAll, let i = index" [value]="item.id">{{item.name}}({{item.tag}})</option>
        </select>
      </div>
      <div class="form-group">
        <label>Select Category Movie</label>
        <select [(ngModel)]="moviePut.categoryID" name="categoryID" id="inputState" class="form-control">
          <option *ngFor="let item of categoryAll, let i = index" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-submit" (click)="updateMovie()">Update <mat-icon> send </mat-icon></button>
      </div>
    </form>
  </div>
</div>