<div class="div-root">
  <form class="needs-validation">
    <div class="form-group">
      <label>Tittle Movie</label>
      <input [(ngModel)]="newMovie.tittle" name="tittle" type="text" class="form-control" placeholder="tittle" required>
    </div>
    <div class="form-group">
      <label>Synopsis Movie</label>
      <input [(ngModel)]="newMovie.synopsis" type="text" class="form-control" placeholder="synopsis" required>
    </div>
    <div class="form-group">
      <label>Image Movie</label>
      <input [(ngModel)]="newMovie.image" type="text" class="form-control" placeholder="image" required>
    </div>
    <div class="form-group">
      <label>LaunchData Movie</label>
      <input [(ngModel)]="newMovie.launchData" type="date" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Duration Movie</label>
      <input [(ngModel)]="newMovie.duration" type="number" class="form-control" placeholder="duration" required>
    </div>
    <div class="form-group">
      <label for="inputState">Select Language Movie</label>
      <select id="inputState" class="form-control">
        <option [(ngModel)]="newMovie.categoryID" *ngFor="let item of languageAll, let i = index" [value]="languageAll[i].id">{{item.name}}({{item.tag}})</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputState">Select Category Movie</label>
      <select id="inputState" class="form-control">
        <option [(ngModel)]="newMovie.languageID" *ngFor="let item of categoryAll, let i = index" [value]="categoryAll[i].id">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn-submit" (click)="createMovie()">Create <mat-icon> send </mat-icon></button>
    </div>
  </form>
</div>