#movie-item{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.8%;
    border-radius: 8%;
}
.movie-scroll-select{
    color: white;
    background-color: red;
    transform: scale(1) translate(0px,5%);
}

.movie-scroll{
    color: black;
    background-color: white;
}

.movie-image{
    width: 100%;
    height: 200px;
    border-radius: 0% 0% 8% 8%;
}

.movies-carousel{
    position: absolute;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 0%;
}

.movies-carousel-button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: red;
    width: 2%;
    height: 200px;
    opacity: 10%;
    transition: 1000ms;
}

.movies-carousel-button:active{
    border: 1px solid white;
}

.movies-carousel-button:hover{
    transition: 0ms;
    opacity: 100%;
}