<div class="div-root">
    <form class="needs-validation">
        <div class="form-group drop-category">
            <label for="inputState">SELECT CATEGORY TO UPDATE</label>
            <select id="inputState" class="form-control" (change)="categoryUpdateSelected($event)">
                <option *ngFor="let item of categoryAll, let i = index" [value]="i">
                    {{item.name}}
                </option> 
                </select>
        </div>
        <div class="form-group">
            <label>Name Category</label>
            <input type="text" class="form-control" placeholder="name" value="{{categoryAll[index].name}}" required>
        </div>
        <div class="form-group">
            <label for="inputPassword4">Tag Category</label>
            <input type="text" class="form-control" placeholder="tag" value="{{categoryAll[index].tag}}" required>
        </div>
        <button type="submit" class="btn-submit" (click)="updateCategory()">Create <mat-icon> send </mat-icon></button>
    </form>
</div>