<div class="d-flex flex-column justify-content-between div-root">
    <span class="variable-text">Filmes e programas de TV contendo...</span>
    <div class="d-flex justify-content-between">
        <div *ngFor="let item of categoryToBeShow,let i = index" class="categories-list">
            <button class="category-item-button" [ngClass]="{'category-item-button-selected':i == index}"
                (click)="clickCategory(i)" [routerLink]="['movies-category',item.id]">{{item.name}}</button>
        </div>

        <div class="d-flex justify-content-between category-carousel">
            <button class="category-carousel-button" (click)="previousCategory()">
                <mat-icon style="color: white;"> arrow_back </mat-icon>
            </button>

            <button class="category-carousel-button" (click)="nextCategory()">
                <mat-icon style="color: white;"> arrow_forward </mat-icon>
            </button>
        </div>
    </div>
</div>