.div-root{
    margin-top: 2%;
    width: 100%;
}

.text-and-exit{
    color: gray;
}

.variable-text{
    font-size: 20px;
    color: white;
}

.icon-exit{
    color: gray;
    background-color: white;
    border-radius: 50%;
    height: 300%;
    width: 300%;
    font-size: 300%;
}

.button-exit:hover .icon-exit{
    color: red;
}


.button-exit{
    background-color: unset;
    border: none;
}

.list-movies{
    margin-top: 1%;
    margin-bottom: 5%;
}


.info-movie-no-selected{
    color: black;
    background-color: white;
    opacity: 20%;
    border-radius: 8%;
    width: 15%;
    transition: 2s;
    z-index: -1;
}

.info-movie-selected{
    transform: scale(1.2);
    color: white;
    background-color: red;
    opacity: 100%;
}

.info-movie{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-movie-category{
    border-radius: 8%;
}

.carousel-button{
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3vmin;
    width: 3%;
    height: 50%;
    border: none;
    background: unset;
}

.carousel-button:active{
    color: red;
}