<div class="div-root">
  <form class="needs-validation">
    <div class="form-group col-md-6">
      <label>Name Category</label>
      <input [(ngModel)]="categoryForm.name" name="categoryName" type="text" class="form-control" placeholder="name"
        required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Tag Category</label>
      <input [(ngModel)]="categoryForm.tag" name="categoryTag" type="text" class="form-control" placeholder="tag"
        required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Select Language Category</label>
      <select [(ngModel)]="categoryForm.languageID" name="categoryLanguageId" (change)="languageSelected($event)" id="inputState" class="form-control">
        <option *ngFor="let item of languageAll, let i = index" [value]="languageAll[i].id">
          {{item.name}}({{item.tag}})
        </option>
      </select>
    </div>
    <button type="submit" class="btn-submit" (click)="createCategory()">Create <mat-icon> send </mat-icon></button>
  </form>
</div>